.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
}
.con {
    overflow: hidden;
}
.dots {
    overflow: hidden;
}
.top {
  text-decoration: none !important;
  line-height: 1 !important;
  position: sticky;
  bottom: 20px;
  padding: 10px;
  font-family: sans-serif;
  color: #EFEFF0 !important;
  background: #47624F;
  border-radius: 100px;
  place-self: end;
  margin-top: 180vh;
  margin-right: 10px;
  white-space: nowrap;
}

body {
    background-color: #EFEFF0;
    color: #47624F;
    display: grid;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    grid-template-columns: auto 0px;
    margin-bottom: 18px;
    margin-left: 22px;
    margin-right: 22px;
    max-width: 600px;
    text-align: justify;
    text-transform: lowercase;
}

h1 {
    color: #47624F;
    font-family: Arial Rounded MT Bold, sans-serif;
    font-size: 25px;

}

h2 {
    color: #47624F;
    font-family: Arial Rounded MT Bold, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-style: wavy;
}

h3 {
    color: #47624F;
    font-family: Arial Rounded MT Bold, sans-serif;
    font-size: 14px;
    text-decoration: none;

}
html[data-theme='high-contrast'] {
  --text-color-normal: white;
  --text-color-light: white;
  --text-color-richer: white;
  --text-color-highlight: white;
  --link-color: white;
  --bright-color: white;
  --error-color: white;
  --button-background: white;
  --button-text-color: black;
  --background: black;
  --popup-background: black;
}
a:link {
    color: #8A4F7D;
    text-decoration: none;
}

a:visited {
    color: #887880;
}

a:hover {
    color: #EF8275;
    text-decoration: underline;
    text-decoration-style: wavy;
}

img {
    mix-blend-mode/: screen;
}
table,
th,
tr,
td {
    border: 2px dotted;
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: lightpink;
    color: purple;
}

tr {
    background-color: lightblue;
    color: #000000;
}

solid {
    border-top: 3px solid #bbb;
}
@media (max-width: 414px{
    body {
        max-width: 100%;
    }
}