body {
	background-color: white;
	font: helvetica;
	font-size: 14px;
	text-transform:lowercase;
}

h1 {
	font: helvetica;
	color: black;
	margin-left: 10px;
	size: 24px;
	text-transform:lowercase;
}

h2 {
	font: helvetica;
	color: black;
	margin-left: 10px;
	size: 20px;
	text-transform:lowercase;
}

h3 {
	font: helvetica;
	color: black;
	margin-left: 10px;
	text-transform:lowercase;
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
	font: helvetica;
	font-size: 16px;
	height: 20px;
	vertical-align: center;
	text-transform:lowercase;
}

blockquote {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	font: 20px comicsans pink;
	text-transform:lowercase;
}
